<h1>Create New Quiz </h1>
<form {{action 'createQuiz' on='submit'}}>
  {{input placeholder="Quiz Title" value=newQuiz.title}}
  <button type="submit" class="btn btn-success">Create Form</button>
</form>
