<form {{action 'editQuiz' on='submit'}}>
  {{input type="text" placeholder="New Quiz Title" value=newQuiz.title}}
  {{input type="text" placeholder="New Category" value=newQuiz.category}}
  <button class="btn btn-success" type="submit">Update Quiz </button>
</form>
