<h3>Change Username</h3>
<form {{action 'updateUsername' on='submit'}}>
  {{input type="text" placeholder="New Username" value=credentials.username}}
  <button class="btn btn-success" type="submit">Submit</button>
</form>
