<h3>Change Profile Image</h3>
<form {{action 'updatePropic' on='submit'}}>
  {{input type="text" placeholder="URL for new Profile Image" value=credentials.propic}}
  <button class="btn btn-success" type="submit">Submit</button>
</form>
