@import 'bootstrap';
@import 'bootstrap/theme';

.answered {
  cursor: none;
}

.centered {
  align-content: center;
  margin: 0 auto;
  position: relative;
}

.correct > button {
  background-color: green !important;
  color: white;
}

.incorrect > button {
  background-color: red !important;
  color: white;
}

.input-small {
  display: inline;
  width: 200px;
}

.propic {
  height: 50px;
  width: 50px;
}

.quiz-edit {
  background-color: yellow;
}
