@import 'bootstrap';
@import 'bootstrap/theme';

.answered {
  cursor: none;
}

.correct > button {
  background-color: green !important;
  color: white;
}

.incorrect > button {
  background-color: red !important;
  color: white;
}

.propic {
  height: 50px;
  width: 50px;
}
