<h1>My Account </h1>

{{#link-to 'change-password'}}Change Password{{/link-to}}

{{update-username-form user=model updateUsername='updateUsername'}}

{{update-propic-form user=model updatePropic='updatePropic'}}
