<h1 class="centered" >Welcome to Quiz Whiz! </h1>
<br>
<h3 class="centered" >To begin, click on {{#link-to 'quizzes'}}quizzes {{/link-to}} to view all quizzes. Take one of the premade quizzes, or create a quiz of your own!</h3>
<br>
<h3 class="centered" >Earn points by answering another user's quiz questions, then check out the {{#link-to 'leaderboard'}}leaderboard{{/link-to}} to check out how you rank!</h3>
<br>
<h3 class="centered" >Finally, click on account settings to change your avatar, username, or password.</h3>
<br>
<h2 class="centered" >Good luck!</h2>
<br>
<h3 class="centered" >Quiz Whiz was developed by <a href="https://aaron-vale.github.io/" target="_blank">Aaron Vale</a> for his capstone project at General Assembly. Check out more of his work:</h3>
<div class="row">
  <div class="col-xs-5">
  </div>
  <div class="col-xs-1">
    <a href="https://github.com/Aaron-Vale/" target="_blank">
      <i class="centered fa fa-4x fa-github-square" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-xs-1">
    <a href="https://www.linkedin.com/in/aaron-vale/" target="_blank">
      <i class="centered fa fa-4x fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-xs-5">
  </div>
</div>
